@charset "utf-8";

$navbar-background-color: rgba(#FFFFFF, 0.90);
$navbar-item-img-max-height: 3rem;

$tabs-border-bottom-width: 2px;
$tabs-border-bottom-color: rgba(#FFFFFF, 0.00);
$tabs-link-hover-border-bottom-color: #DBDBDB;
$tabs-link-padding: 0.7em 2em;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  url(../../../assets/fonts/material_fonts/MaterialIconsOutlined-Regular.otf);
}

@font-face {
  font-family: "Google Sans";
  src: url(/src/assets/fonts/sans.ttf) format('truetype');
}

@font-face {
  font-family: 'icomoon';
  src:  url('/src/assets/fonts/icomoon.eot?mltk63');
  src:  url('/src/assets/fonts/icomoon.eot?mltk63#iefix') format('embedded-opentype'),
  url('/src/assets/fonts/icomoon.ttf?mltk63') format('truetype'),
  url('/src/assets/fonts/icomoon.woff?mltk63') format('woff'),
  url('/src/assets/fonts/icomoon.svg?mltk63#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

*, :after, :before {
  box-sizing: inherit;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  opacity:0.2;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--scrollbar-thumb);
}

:root {
  --base-font-size: 1rem;
  --font-md: calc(var(--base-font-size)*1.5);
}

/* 亮色模式 */
.light, .light-mode, :root {
  --primary-color: #42B983;
  --toolbar-color: #ede9f1;
  --toolbar-highlight: rgba(45,82,171,.08);
  --background-color: #fefbfd;
  --surface-color: #f8f9fa;
  --divider: #e3e3e3;
  --accent: #3867d6;

  --reverse-text-primary: #fff;
  --text-primary: #1f1f1f;
  --text-secondary: #424242;

  --border-color: #e1e2e4;
  --light-color: #eeeeee;
  --item-color: #fff;
  --code-background: #f5f5f5;

  --scrollbar-track: transparent;
  --scrollbar-thumb: #d9dcdd;

  path {
    fill: black;
    fill-opacity: 1;
  }

  #light-mode {
    display: none;
  }
  #dark-mode {
    display: unset;
  }
}

/* 暗色模式 */
.dark, .dark-mode {
  --primary-color: #42B983;
  --toolbar-color: #22232e;
  --toolbar-highlight: rgba(45,82,171,.08);
  --background-color: #191a23;
  --surface-color: #22232e;
  --divider: #606164;
  --accent: #8ab4f8;

  --reverse-text-primary: #212121;
  --text-primary: #e8eaed;
  --text-secondary: #9aa0a6;

  --border-color: #606164;
  --light-color: #22232e;
  --item-color: #22232e;
  --code-background: #22232e;

  --scrollbar-track: #22232e;
  --scrollbar-thumb: #606164;

  path {
    fill: white;
    fill-opacity: 0.8;
  }

  #dark-mode {
    display: none;

  }
  #light-mode {
    display: unset;
  }
}
