@charset "UTF-8";
.blog {
  /* 瀑布流、瀑布流 */
}
.blog .tags-cta {
  border-radius: 0.5em;
  position: relative;
  display: inline-block;
  justify-content: flex-start;
}
.blog .tags-cta .button {
  background-color: var(--light-color);
  margin-right: 0.5rem;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-bottom: 0.5rem;
  color: #363636;
  cursor: pointer;
  border: 2px solid var(--border-color);
  font-size: 1rem;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
}
.blog .tags-cta .button.unselected {
  border: 2px solid var(--border-color);
  color: var(--text-primary);
}
.blog .tags-cta .button.unselected .icon {
  display: none;
}
.blog .tags-cta .button.selected {
  background-color: var(--primary-color);
  color: var(--reverse-text-primary);
}
.blog .tags-cta .button.selected .icon {
  display: inline-flex;
}
.blog .tags-cta .button .icon:first-child:not(:last-child) {
  margin-right: 0;
}
.blog .tags-cta .shadowmeld-tag {
  border-color: transparent;
  border-width: 1.2px;
  box-shadow: 0 0 0 0.125em transparent;
  position: relative;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.blog .tags-cta .shadowmeld-tag:hover, .blog .tags-cta .shadowmeld-tag.is-hovered {
  box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.2), 0 0px 0 1px rgba(0, 0, 0, 0.02);
}
.blog .tags-cta .shadowmeld-tag::after {
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.blog .tags-cta .shadowmeld-tag:hover::after {
  opacity: 1;
}
.blog .timeline-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 2.5rem 0px;
  gap: 0.6rem;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
.blog .timeline-box > hr {
  margin: 0;
  height: 2px;
  border: none;
  background-color: var(--divider);
  box-sizing: content-box;
  flex: 1 1 0%;
}
.blog .timeline-h4 {
  line-height: 1;
  font-weight: 600;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: var(--font-md);
}
.blog .mat-h4 {
  margin: 1.4rem 1.2rem 0.8rem 1.2rem;
  font-weight: 500;
  line-height: 1.2;
}
.blog .mat-h2 {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.blog .date {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  margin-bottom: 0.6rem;
  color: var(--text-secondary);
  font-size: 15px;
}
.blog .content {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  color: var(--text-secondary);
  font-size: 15px;
  line-height: 22px;
}
.blog .image-layout {
  height: 14em;
  width: 100%;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  border-radius: 0.5em 0.5em 0 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
}
.blog .item {
  position: relative;
  background-color: var(--item-color);
  border-radius: 0.5em;
  width: 100%;
  height: auto;
  padding-bottom: 1.2rem;
  margin-bottom: 1em;
  box-shadow: 0 0 0 0.08em var(--border-color);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.blog .item::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.blog .item:hover {
  box-shadow: 0 0 0 0 #E1E2E4;
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1, 1);
}
.blog .item:hover::after {
  opacity: 1;
}
.blog .item .title {
  color: var(--text-primary);
}
.blog .boox {
  color: #333;
  height: auto;
}
.blog .is-ancestor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 1em;
}
@media screen and (max-width: 1200px) {
  .blog .is-ancestor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }
}
@media screen and (max-width: 600px) {
  .blog .is-ancestor {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
  }
}
@media screen and (max-width: 1200px) {
  .blog .is-ancestor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }
}
@media screen and (max-width: 600px) {
  .blog .is-ancestor {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
  }
}

.blog-content {
  min-width: fit-content;
}

.app-container {
  margin: unset;
}

.dir-layout {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: auto;
}

.dir {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 20%;
  left: 1em;
  margin: 0 auto;
  align-self: flex-start;
  /* 设置滚动条的样式 */
  /* 滚动槽 */
  /* 滚动条滑块 */
}
.dir ::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
.dir ::-webkit-scrollbar-track {
  background: var(--divider);
  opacity: 0.2;
  border-radius: 8px;
}
.dir ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c7c7c7;
}
.dir .dir-cta {
  border-width: 2px;
  box-shadow: 0 0 0 0.125em var(--border-color);
  padding: 1rem 0;
  border-radius: 0.5em;
  display: inline-block;
  overflow: auto;
  height: inherit;
  max-height: inherit;
}
.dir .dir-cta ul {
  list-style-type: none;
}
.dir .dir-cta ul a {
  text-decoration: none;
  display: inline-block;
  margin: 0 0.8rem;
  padding: 0.6em 1rem;
  font-size: 14px;
  border-radius: 16px;
  color: var(--text-primary);
}
.dir .dir-cta ul a:hover {
  background-color: var(--toolbar-highlight);
}

.placeholder {
  visibility: hidden;
}

@media screen and (max-width: 1250px) {
  .dir-layout {
    display: unset;
  }
  .dir {
    display: none;
  }
  .blog-content {
    min-width: unset;
  }
}

/*# sourceMappingURL=blog-style.css.map */
