@import "styles.css";
body {
  background-color: var(--background-color);
  margin: 0;
  font-family: "Google Sans", Roboto, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  box-sizing: inherit;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--text-primary);
}

h2 {
  font: 500 20px/32px Roboto, Helvetica Neue, sans-serif;
  letter-spacing: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section, header {
  padding: 1em 1em;
}

.divider {
  margin: 2em 0 1em 0;
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  box-sizing: inherit;
  border-top-color: rgba(0, 0, 0, 0.12);
  letter-spacing: normal;
}

.mat-h2 {
  letter-spacing: normal;
  margin: 0 0 4px;
}

.section-h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

#__next {
  --floating-toolbar-margin: 8px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

main {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 0;
}

.still-developing .developing-card-cta {
  border-radius: 1em;
  color: white;
  background-color: #f06292;
  padding: 2em 2em;
}
.still-developing .developing-card-cta #preview {
  display: flex;
  align-items: flex-end;
  gap: 1em;
}

.app-container, .navbar {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: none;
}

.navbar {
  box-sizing: border-box;
  margin: 2em auto;
  padding: 1em;
  border-radius: 0.6em;
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: min-content;
  position: unset;
  height: auto;
  width: auto;
  background-color: var(--toolbar-color);
  box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.16);
  max-width: none;
}
.navbar > * {
  transition: all 0.3s ease-in-out 0s;
}
.navbar img.logo {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
.navbar ul.theme-mode {
  gap: 0;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-content: flex-end;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
}
.navbar ul.theme-mode li {
  display: inline-block;
  margin: 0;
  padding: 0;
  max-height: 42px;
  max-width: 42px;
}
.navbar ul.theme-mode li .action-icon {
  border: none;
  background: none;
  min-height: 42px;
  min-width: 42px;
  border-radius: 8px;
}
.navbar ul.theme-mode li .action-icon:hover {
  font-weight: bold;
  background-color: var(--toolbar-highlight);
}
.navbar ul.theme-mode li .mobile-menu path {
  d: path("M 3 6 H 21 V 8 H 3 V 6 M 3 11 H 21 V 13 H 3 V 11 M 3 16 H 21 V 18 H 3 V 16 Z");
}
.navbar ul.theme-mode li .menu-btn-exit path {
  d: path("M6.4 19 5 17.6 10.6 12 5 6.4 6.4 5 12 10.6 17.6 5 19 6.4 13.4 12 19 17.6 17.6 19 12 13.4Z");
}
.navbar ul.tabs {
  grid-column-start: 1;
  grid-column-end: 4;
  gap: 0.5rem;
  justify-content: flex-start;
  display: none;
}
.navbar ul.tabs li {
  display: inline-block;
}
.navbar ul.tabs li a {
  color: var(--text-secondary);
  font-size: 1rem;
  margin: 0 0.2em;
  padding: 0.7em 1em;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  pointer-events: auto;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  display: inline-flex;
}
.navbar ul.tabs li a:hover {
  font-weight: bold;
  background-color: var(--toolbar-highlight);
}
.navbar ul.menu-btn-exit {
  display: flex;
}
.navbar a.navbar-title {
  text-align: center;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 0 0.8em;
  color: var(--text-secondary);
  margin: 0 0.2em;
  transition: all 0.25s ease-in-out;
  pointer-events: auto;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
}
.navbar a.navbar-title span {
  font-size: 1em;
  padding: 0 0 0 0.8em;
  color: var(--text-secondary);
}
.navbar a.navbar-title:hover {
  font-weight: bold;
  background-color: var(--toolbar-highlight);
}
.navbar .tabs li.current a {
  background-color: var(--toolbar-highlight);
}

@media screen and (min-width: 820px) {
  .app-container, .navbar {
    max-width: 756px;
  }
}
@media screen and (min-width: 960px) {
  .app-container, .navbar {
    max-width: 810px;
  }
}
@media only screen and (min-width: 1024px) {
  section, header {
    padding: 1em 4em;
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
    grid-auto-flow: row dense;
  }
  .navbar ul.theme-mode .css-16pk4gl {
    display: none;
  }
  .navbar ul.tabs {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: flex-end;
    display: flex;
  }
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  padding: 3rem 1.5rem 6rem;
  color: var(--text-primary);
}
.footer #icon {
  margin-right: 1rem;
}
.footer .flex-horizontal {
  display: flex;
  align-items: center;
}
.footer .social-logo-layout {
  background-color: var(--light-color);
  width: 40px;
  height: 40px;
  margin-right: 1em;
  border-radius: 20px;
  box-shadow: 0 0 0 0.125em var(--border-color);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.footer .social-logo-layout:hover, .footer .social-logo-layout.is-hovered {
  background-color: #3abb67;
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.2, 1.2);
  box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.2), 0 0px 0 1px rgba(0, 0, 0, 0.02);
}
.footer .social-logo-layout::after {
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(58, 187, 103, 0.4);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.footer .social-logo-layout:hover::after {
  opacity: 1;
}
.footer .social-logo {
  width: 40px;
  height: 40px;
  padding: 8px;
}
.footer .has-text-centered {
  margin-top: 2em;
}

/*# sourceMappingURL=base.css.map */
