//Mobile First
@charset "utf-8";
$skill-primary:#3DDC84 !default;
$skill-primary-dark:#23A65D !default;
$card-shadow: 0 0.5em 1em -0.125em rgba(#000000, 0.2), 0 0px 0 1px rgba(#000000, 0.02) !default;

// 全局样式
:root {
  --toolbar-highlight: rgba(45,82,171,.08);
  --md-sys-color-primary: #6c4ea2;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #ecdcff;
  --md-sys-color-on-primary-container: #250059;
  --md-sys-color-secondary: #635b70;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #eadef8;
  --md-sys-color-on-secondary-container: #1f182b;
  --md-sys-color-tertiary: #7e525d;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffd9e2;
  --md-sys-color-on-tertiary-container: #32101b;
  --md-sys-color-error: #ba1b1b;
  --md-sys-color-error-container: #ffdad4;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-on-error-container: #410001;
  --md-sys-color-background: #fffbfc;
  --md-sys-color-on-background: #1d1b1f;
  --md-sys-color-surface: #fffbfc;
  --md-sys-color-on-surface: #1d1b1f;
  --md-sys-color-surface-variant: #e7e0eb;
  --md-sys-color-on-surface-variant: #49454e;
  --md-sys-color-outline: #7a757e;
  --md-sys-color-inverse-on-surface: #f5eff4;
}

body {
  background: white;
  margin: 0;
  font: 400 14px/20px Roboto,Helvetica Neue,sans-serif;
  box-sizing: inherit;
}

header {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
  letter-spacing: normal;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 1em 2em;
}

.divider {
  margin: 2em 0 1em 0;
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  box-sizing: inherit;
  border-top-color: rgba(0,0,0,.12);
  letter-spacing: normal;
}

.mat-h2 {
  letter-spacing: normal;
  margin: 0 0 4px;
}

.home-h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.navbar {
  background-color: var(--md-sys-color-inverse-on-surface);
  padding: 1em;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0 / 16%);
  color: var(--md-sys-color-on-surface-variant);

  img.logo {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }

  a.navbar-title {
    text-align: center;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: .5em;

    span {
      font-size: 1em;
      padding: 0 0.8em;
      color: var(--text-secondary);
    }
  }
}

.blog {

  @font-face {
    font-family: 'sans';
    src: url('../assets/fonts/sans.ttf') format('truetype');
  }

  .root {
    font-family: "sans";
  }

  .mat-h4 {
    margin: 1.4rem 1.2rem 0.8rem 1.2rem;
    color: #161D2D;
    line-height:26px;
  }

  .mat-h2 {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
  }

  .date {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 0.6rem;
    color: #3A414E;
    font-size: 15px;
  }

  .content {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    color: #3A414E;
    font-size: 15px;
    line-height:22px;
  }

  #image-layout {
    height: 14em;
    width: 100%;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    border-radius: 0.5em 0.5em 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .item {
    position: relative;
    background-color: white;
    border-radius: 0.5em;
    width: 100%;
    height: auto;
    padding-bottom: 1.2rem;
    margin-bottom: 1em;
    box-shadow: 0 0 0 0.08em #E1E2E4;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .item::after {
    content: ""; // 不知道为什么删掉这个就没阴影了
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .item:hover {
    box-shadow: 0 0 0 0 #E1E2E4;
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1, 1);
  }

  .item:hover::after {
    opacity: 1;
  }

  .boox {
    color: #333;
    height: auto;
  }

  /* 瀑布流、瀑布流 */
  .is-ancestor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; // 分为3列
    grid-template-rows: auto;
    column-gap: 1em; // 列间距5px
  }

  @media screen and (max-width: 1200px) {
    .is-ancestor {
      display: grid;
      grid-template-columns: 1fr 1fr; // 分为2列
      column-gap: 1em; // 列间距5px
    }
  }

  @media screen and (max-width: 600px) {
    .is-ancestor {
      display: grid;
      grid-template-columns: 1fr; // 分为1列
      column-gap: 1em; // 列间距5px
    }
  }

  //------------------------

  .timeline-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 2.5rem 0px;
    gap: 0.6rem;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  .timeline-box > hr {
    margin: 0px;
    height: 1px;
    border: none;
    background-color: var(--divider);
    box-sizing: content-box;
    flex: 1 1 0%;
  }

  .timeline-h4 {
    line-height: 1;
    font-weight: 600;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: var(--font-md);
  }

  @font-face {
    font-family: 'sans';
    src: url('../../../assets/fonts/sans.ttf') format('truetype');
  }

  .root {
    font-family: "sans";
  }

  .mat-h4 {
    margin: 1.4rem 1.2rem 0.8rem 1.2rem;
    color: #161D2D;
    line-height:26px;
  }

  .mat-h2 {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
  }

  .date {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 0.6rem;
    color: #3A414E;
    font-size: 15px;
  }

  .content {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    color: #3A414E;
    font-size: 15px;
    line-height:22px;
  }

  #image-layout {
    height: 14em;
    width: 100%;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    border-radius: 0.5em 0.5em 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .item {
    position: relative;
    background-color: white;
    border-radius: 0.5em;
    width: 100%;
    height: auto;
    padding-bottom: 1.2rem;
    margin-bottom: 1em;
    box-shadow: 0 0 0 0.08em #E1E2E4;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .item::after {
    content: ""; // 不知道为什么删掉这个就没阴影了
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .item:hover {
    box-shadow: 0 0 0 0 #E1E2E4;
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1, 1);
  }

  .item:hover::after {
    opacity: 1;
  }

  .boox {
    color: #333;
    height: auto;
  }

  /* 瀑布流、瀑布流 */
  .is-ancestor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; // 分为3列
    grid-template-rows: auto;
    column-gap: 1em; // 列间距5px
  }

  @media screen and (max-width: 1200px) {
    .is-ancestor {
      display: grid;
      grid-template-columns: 1fr 1fr; // 分为2列
      column-gap: 1em; // 列间距5px
    }
  }

  @media screen and (max-width: 600px) {
    .is-ancestor {
      display: grid;
      grid-template-columns: 1fr; // 分为1列
      column-gap: 1em; // 列间距5px
    }
  }
}


// 屏幕适配

.app-container, .navbar {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto; }
.app-container.is-fluid, .navbar {
  max-width: none;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%; }
@media screen and (min-width: 820px) {
  .app-container, .navbar {
    max-width: 756px; } }
@media screen and (max-width: 959px) {
  .app-container.is-widescreen, .navbar {
    max-width: 810px; } }
@media screen and (max-width: 1023px) {
  .app-container.is-fullhd, .navbar {
    max-width: 810px; } }
@media screen and (min-width: 960px) {
  .app-container, .navbar {
    max-width: 810px; } }
@media screen and (min-width: 1024px) {
  .app-container, .navbar {
    max-width: 810px; } }


@media only screen and (min-width: 768px) {

  .mobile-menu, .mobile-menu-exit {
    display: none;
  }

  .navbar {
    box-sizing: border-box;
    margin: 2em auto;
    padding: 1em 1em;
    border-radius: .6em;

    nav {
      display: grid;
      grid-template-rows: minmax(0, 1fr);
      grid-template-columns: auto 1fr auto;
      grid-auto-rows: min-content;
      grid-auto-flow: row dense;
      background: none;
      position: unset;
      height: auto;
      width: auto;
      padding: 0;

      ul.navbar-title {
        gap: 0.6rem;
        justify-content: flex-start;
      }

      ul.theme-mode {
        gap: 0;
        grid-column-start: 3;
        grid-column-end: 4;
        justify-content: flex-end;
        display: inline-flex;
        align-items: center;
        border-radius: 8px;

        li {
          display: inline-block;
          margin: 0;
          padding: 0;
          max-height: 42px;
          max-width: 42px;
        }

        .css-a9tx65{
          border: none;
          background: none;
          min-height: 42px;
          min-width: 42px;
        }
        &:hover {
          font-weight: bold;
          background-color: var(--toolbar-highlight);
        }
      }

      ul.tabs {
        grid-column-start: 2;
        grid-column-end: 3;
        gap: 0.5rem;
        justify-content: flex-end;
        display: flex;

        li {
          display: inline-block;

          a {
            color: var(--text-secondary);
            font-size: 1rem;
            padding: 0.7em 1em;
            margin: 0 .2em;
            text-decoration: none;
            transition: all 0.25s ease-in-out;
            pointer-events: auto;
            border-radius: 8px;
            border: none;
            box-sizing: border-box;
            display: inline-flex;

            &:hover {
              font-weight: bold;
              background-color: var(--toolbar-highlight);
            }
          }
        }
      }

      // 选中的 tab
      .tabs li.current a {
        background-color: var(--toolbar-highlight);
      }
    }
  }
}
@media only screen and (min-width: 1080px) {

  section {
    padding: 1em 4em;
  }
}


$logo-color: #3abb67 !default;
$card-shadow: 0 0.5em 1em -0.125em rgba($logo-color, 0.4), 0 0px 0 1px rgba($logo-color, 0.02) !default;

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  #icon {
    margin-right: 1rem;
  }

  .flex-horizontal {
    display: flex;
    align-items: center;
  }

  .social-logo-layout {
    background-color: #eeeeee;
    width: 40px;
    height: 40px;
    margin-right: 1em;
    border-radius: 20px;
    box-shadow: 0 0 0 0.125em #E1E2E4;
    &:hover,
    &.is-hovered{
      background-color: $logo-color;
      -webkit-transform: scale(1.25, 1.25);
      transform: scale(1.2, 1.2);
      box-shadow: $card-shadow
    }
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .social-logo-layout::after {
    content: ""; // 不知道为什么删掉这个就没阴影了
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba($logo-color, 0.4);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .social-logo-layout:hover::after {
    opacity: 1;
  }

  .social-logo {
    width: 40px;
    height: 40px;
    padding: 8px;
  }

  .has-text-centered {
    margin-top: 2em;
  }
}