//Mobile First
@charset "utf-8";
$skill-primary:#3DDC84 !default;
$skill-primary-dark:#23A65D !default;
$card-shadow: 0 0.5em 1em -0.125em rgba(#000000, 0.2), 0 0px 0 1px rgba(#000000, 0.02) !default;

.blog {

  @font-face {
    font-family: 'sans';
    src: url('../assets/fonts/sans.ttf') format('truetype');
  }

  .root {
    font-family: "sans";
  }

  .mat-h4 {
    margin: 1.4rem 1.2rem 0.8rem 1.2rem;
    color: #161D2D;
    line-height:26px;
  }

  .mat-h2 {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
  }

  .date {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 0.6rem;
    color: #3A414E;
    font-size: 15px;
  }

  .content {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    color: #3A414E;
    font-size: 15px;
    line-height:22px;
  }

  #image-layout {
    height: 14em;
    width: 100%;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    border-radius: 0.5em 0.5em 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .item {
    position: relative;
    background-color: white;
    border-radius: 0.5em;
    width: 100%;
    height: auto;
    padding-bottom: 1.2rem;
    margin-bottom: 1em;
    box-shadow: 0 0 0 0.08em #E1E2E4;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .item::after {
    content: ""; // 不知道为什么删掉这个就没阴影了
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .item:hover {
    box-shadow: 0 0 0 0 #E1E2E4;
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1, 1);
  }

  .item:hover::after {
    opacity: 1;
  }

  .boox {
    color: #333;
    height: auto;
  }

  /* 瀑布流、瀑布流 */
  .is-ancestor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; // 分为3列
    grid-template-rows: auto;
    column-gap: 1em; // 列间距5px
  }

  @media screen and (max-width: 1200px) {
    .is-ancestor {
      display: grid;
      grid-template-columns: 1fr 1fr; // 分为2列
      column-gap: 1em; // 列间距5px
    }
  }

  @media screen and (max-width: 600px) {
    .is-ancestor {
      display: grid;
      grid-template-columns: 1fr; // 分为1列
      column-gap: 1em; // 列间距5px
    }
  }

  //------------------------

  .timeline-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 2.5rem 0px;
    gap: 0.6rem;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  .timeline-box > hr {
    margin: 0px;
    height: 1px;
    border: none;
    background-color: var(--divider);
    box-sizing: content-box;
    flex: 1 1 0%;
  }

  .timeline-h4 {
    line-height: 1;
    font-weight: 600;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: var(--font-md);
  }

  @font-face {
    font-family: 'sans';
    src: url('../assets/fonts/sans.ttf') format('truetype');
  }

  .root {
    font-family: "sans";
  }

  .mat-h4 {
    margin: 1.4rem 1.2rem 0.8rem 1.2rem;
    color: #161D2D;
    line-height:26px;
  }

  .mat-h2 {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
  }

  .date {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 0.6rem;
    color: #3A414E;
    font-size: 15px;
  }

  .content {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    color: #3A414E;
    font-size: 15px;
    line-height:22px;
  }

  #image-layout {
    height: 14em;
    width: 100%;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    border-radius: 0.5em 0.5em 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .item {
    position: relative;
    background-color: white;
    border-radius: 0.5em;
    width: 100%;
    height: auto;
    padding-bottom: 1.2rem;
    margin-bottom: 1em;
    box-shadow: 0 0 0 0.08em #E1E2E4;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .item::after {
    content: ""; // 不知道为什么删掉这个就没阴影了
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .item:hover {
    box-shadow: 0 0 0 0 #E1E2E4;
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1, 1);
  }

  .item:hover::after {
    opacity: 1;
  }

  .boox {
    color: #333;
    height: auto;
  }

  /* 瀑布流、瀑布流 */
  .is-ancestor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; // 分为3列
    grid-template-rows: auto;
    column-gap: 1em; // 列间距5px
  }

  @media screen and (max-width: 1200px) {
    .is-ancestor {
      display: grid;
      grid-template-columns: 1fr 1fr; // 分为2列
      column-gap: 1em; // 列间距5px
    }
  }

  @media screen and (max-width: 600px) {
    .is-ancestor {
      display: grid;
      grid-template-columns: 1fr; // 分为1列
      column-gap: 1em; // 列间距5px
    }
  }
}