@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.light .hljs {
  color: #37474f;
  background: #f8f9fa;
}
.light .md-content pre code {
  color: #37474f;
  background: #f8f9fa;
}
.light .hljs-number,
.light .hljs-literal,
.light .hljs-symbol,
.light .hljs-bullet {
  color: #c5221f;
}
.light .hljs-keyword,
.light .hljs-selector-tag,
.light .hljs-deletion {
  color: #1967d2;
}
.light .hljs-variable,
.light .hljs-template-variable,
.light .hljs-link {
  color: #629755;
}
.light .hljs-comment,
.light .hljs-quote {
  color: #b80672;
}
.light .hljs-meta {
  color: #c5221f;
}
.light .hljs-string,
.light .hljs-attribute,
.light .hljs-addition {
  color: #188038;
}
.light .hljs-section,
.light .hljs-title,
.light .hljs-type {
  color: #9334e6;
}
.light .hljs-name,
.light .hljs-selector-id,
.light .hljs-selector-class {
  color: #e8bf6a;
}
.light .hljs-emphasis {
  font-style: italic;
}
.light .hljs-strong {
  font-weight: bold;
}

.dark .hljs {
  color: #a9b7c6;
  background: #22232e;
}
.dark .md-content pre code {
  color: #a9b7c6;
}
.dark .hljs-number,
.dark .hljs-literal,
.dark .hljs-symbol,
.dark .hljs-bullet {
  color: #f3be2d;
}
.dark .hljs-keyword,
.dark .hljs-selector-tag,
.dark .hljs-deletion {
  color: #78d9ec;
}
.dark .hljs-variable,
.dark .hljs-template-variable,
.dark .hljs-link {
  color: #629755;
}
.dark .hljs-comment,
.dark .hljs-quote {
  color: #ff8bcb;
}
.dark .hljs-meta {
  color: #fbc02d;
}
.dark .hljs-string,
.dark .hljs-attribute,
.dark .hljs-addition {
  color: #9ccc65;
}
.dark .hljs-section,
.dark .hljs-title,
.dark .hljs-type {
  color: #d7aefb;
}
.dark .hljs-name,
.dark .hljs-selector-id,
.dark .hljs-selector-class {
  color: #e8bf6a;
}
.dark .hljs-emphasis {
  font-style: italic;
}
.dark .hljs-strong {
  font-weight: bold;
}

.md-content {
  font-size: 1rem;
  margin: 0 auto;
  padding: 30px 0 40px;
  color: var(--text-secondary);
}

.md-content kbd {
  padding: 0 0.29412em;
  border-radius: 0.3rem;
  border: 0.1rem solid #c9c9c9;
  border-bottom-color: #bcbcbc;
  background-color: #fcfcfc;
  color: #555;
  font-size: 85%;
  box-shadow: 0 0.1rem 0 #b0b0b0;
  word-break: break-word;
}

.md-content .MathJax span {
  display: inline;
  position: static;
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: 0;
  line-height: normal;
  text-decoration: none;
  font-size: 18px;
}

.md-content strong {
  font-weight: bold;
}

.md-content p {
  font-family: Roboto, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  padding: 0;
  margin: 1.2em 0;
  box-sizing: border-box;
}

.md-content h1 {
  font-size: 2.8rem;
  margin-top: 1rem;
  line-height: 4rem;
}

.md-content h2 {
  margin-top: 48px;
  margin-bottom: 16px;
  font-size: 1.7rem;
}

.md-content h3 {
  margin-top: 48px;
  margin-bottom: 16px;
  font-size: 1.5rem;
  color: var(-markdown-title);
}

.md-content h4 {
  margin-top: 36px;
  margin-bottom: 16px;
  font-size: 1.1em;
  font-weight: bold;
}

.md-content h5 {
  margin-top: 36px;
  margin-bottom: 16px;
  font-size: 1.2em;
  font-weight: bold;
}

.md-content h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.1em;
}

.md-content a {
  margin: 1.2em 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  word-break: break-word;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: normal;
  box-sizing: border-box;
  line-height: 1.75rem;
  word-spacing: 0.05rem;
  font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}
.md-content a:hover {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.md-content ul {
  padding-left: 1.5rem;
  counter-reset: items;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
  display: block;
  list-style-type: disc;
}

.md-content ol {
  padding-left: 1.5rem;
  counter-reset: items;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
  display: block;
}

.md-content li {
  font-size: 0.9rem;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
  margin: 1.2em 0;
}

@font-face {
  font-family: "icomoon";
  src: url("../../../assets/fonts/icomoon.eot?mltk63");
  src: url("../../../assets/fonts/icomoon.eot?mltk63#iefix") format("embedded-opentype"), url("../../../assets/fonts/icomoon.ttf?mltk63") format("truetype"), url("../../../assets/fonts/icomoon.woff?mltk63") format("woff"), url("../../../assets/fonts/icomoon.svg?mltk63#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.md-content li .md-content ul, .md-content li .md-content ol {
  margin-left: 16px;
}

.md-content p, .md-content ul, .md-content ol {
  line-height: 1.75rem;
  word-spacing: 0.05rem;
}

.md-content pre {
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
  margin: 32px 0;
  padding: 0 0;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

.md-content code {
  font-family: "Roboto Mono", Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  word-break: break-word;
  vertical-align: middle;
  margin: 0 2px;
  border-radius: 3px;
  line-height: 1.75rem;
  background-color: var(--code-background);
  color: var(--primary-color);
  border: 1px solid var(--border-color);
}
.md-content code ol {
  list-style: none;
  padding-left: 0;
  counter-reset: my-badass-counter;
}
.md-content code ol li {
  margin: 0;
}
.md-content code ol > li:before {
  content: counter(my-badass-counter);
  padding-right: 2em;
  counter-increment: my-badass-counter;
}

body {
  --su-base: 1;
  --su-static1: 1px;
  --su-static2: 2px;
  --su-static4: 4px;
  --su-static6: 6px;
  --su-static8: 8px;
  --su-static12: 12px;
  --su-static16: 16px;
  --su-static24: 24px;
  --su-static32: 32px;
  --su-static48: 48px;
  --su-static64: 64px;
  --su-static96: 96px;
  --su-static128: 128px;
  --su1: clamp(var(--su-static1), calc(var(--su-static1) * var(--su-base)), calc(var(--su-static1) * var(--su-base)));
  --su2: calc(var(--su-static2) * var(--su-base));
  --su4: calc(var(--su-static4) * var(--su-base));
  --su6: calc(var(--su-static6) * var(--su-base));
  --su8: calc(var(--su-static8) * var(--su-base));
  --su12: calc(var(--su-static12) * var(--su-base));
  --su16: calc(var(--su-static16) * var(--su-base));
  --su24: calc(var(--su-static24) * var(--su-base));
  --su32: calc(var(--su-static32) * var(--su-base));
  --su48: calc(var(--su-static48) * var(--su-base));
  --su64: calc(var(--su-static64) * var(--su-base));
  --su96: calc(var(--su-static96) * var(--su-base));
  --su128: calc(var(--su-static128) * var(--su-base));
}

pre.s-code-block::-webkit-scrollbar {
  width: calc(var(--su-static12) - var(--su-static2));
  height: calc(var(--su-static12) - var(--su-static2));
  background-color: transparent;
}

pre::-webkit-scrollbar {
  width: calc(var(--su-static12) - var(--su-static2));
  height: calc(var(--su-static12) - var(--su-static2));
  background-color: transparent;
}

pre.s-code-block::-webkit-scrollbar-corner {
  background-color: transparent;
  border-color: transparent;
}

pre::-webkit-scrollbar-corner {
  background-color: transparent;
  border-color: transparent;
}

pre.s-code-block::-webkit-scrollbar-thumb {
  border-radius: calc(var(--su-static12) - var(--su-static2));
  background-color: var(--scrollbar);
}

pre::-webkit-scrollbar-thumb {
  border-radius: calc(var(--su-static12) - var(--su-static2));
  background-color: var(--scrollbar);
}

pre.s-code-block::-webkit-scrollbar-track {
  border-radius: calc(var(--su-static12) - var(--su-static2));
  background-color: transparent;
}

pre::-webkit-scrollbar-track {
  border-radius: calc(var(--su-static12) - var(--su-static2));
  background-color: transparent;
}

.md-content pre code {
  font-family: "Roboto Mono", sans-serif, monospace;
  font-weight: 400;
  display: block;
  overflow-x: auto;
  border: none;
  line-height: 1.5;
  white-space: pre;
  padding: 2.2em 1.4rem;
  margin: 0;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

.md-content aside {
  display: block;
  float: right;
  width: 390px;
}

.md-content blockquote {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 4px solid var(--theme-color, #42b983);
  color: #858585;
  margin: 2em 0;
  padding-left: 20px;
}

.md-content blockquote p {
  color: var(--text-primary);
  font-weight: normal;
  margin-left: 0;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
}

.md-content hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 2em 0;
  height: 1px;
}

.md-content table {
  padding: 0;
  margin: 1rem 0.5rem;
  border-collapse: collapse;
}

.md-content table tr {
  border-top: 1px solid #ddd;
  background-color: white;
  margin: 0;
  padding: 0;
}

.md-content table tr:nth-child(2n) {
  background-color: #FFF;
}

.md-content table tr th {
  font-weight: 100;
  background-color: #F1F1F1;
  border: 1px solid #ddd;
  margin: 0;
  padding: 6px 13px;
}

.md-content table tr td {
  border: 1px solid #ddd;
  margin: 0;
  padding: 6px 13px;
}

.md-content table tr th :first-child, .md-content table tr td :first-child {
  margin-top: 0;
}

.md-content table tr th :last-child, .md-content table tr td :last-child {
  margin-bottom: 0;
}

.md-content div.mermaid-diagram {
  margin: 16px 0px 16px 0px;
  overflow-y: hidden;
}

.md-content div.flowchart-diagram {
  padding: 0px 5px 0px 5px;
  margin: 16px 0px 16px 0px;
  width: fit-content;
  overflow: hidden;
}

.md-content div.wavedrom-diagram {
  padding: 0px 5px 0px 5px;
  margin: 16px 0px 16px 0px;
  width: fit-content;
  overflow: hidden;
}

.md-content div.plantuml-diagram {
  padding: 5px 5px 0px 5px;
  margin: 16px 0px 16px 0px;
  width: fit-content;
  overflow: hidden;
}

.md-content .img-package {
  text-align: center;
}

.md-content img.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.md-content span.img-caption {
  min-width: 20%;
  max-width: 80%;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid #c0c0c0;
  color: #6c6c6c;
  text-align: center;
  line-height: 1.5;
}

.md-content .emoji_zero, .emoji_one, .emoji_two, .emoji_three, .emoji_four, .emoji_five, .emoji_six, .emoji_seven, .emoji_eight, .emoji_nine {
  margin-left: 5px;
  margin-right: 8px;
}

.md-content div.preview-hint {
  opacity: 0.5;
  margin-top: 30%;
  margin-bottom: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* For Highlight.js Line Number */
.md-content table.hljs-ln tr {
  border: none;
  background-color: transparent;
}

.md-content table.hljs-ln tr td {
  border: none;
  background-color: transparent;
}

.md-content table.hljs-ln tr td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  color: #AAA;
  border-right: 1px solid #DDD;
  vertical-align: top;
  padding-right: 5px;
  white-space: nowrap;
}

.md-content table.hljs-ln tr td.hljs-ln-code {
  padding-left: 10px;
}

.md-content ::selection {
  background: var(--primary-color);
  color: #EEEEEE;
}

.md-content .modal-box {
  background-color: rgb(234, 234, 234);
  background-color: rgba(234, 234, 234, 0.95);
}

.md-content span.modal-close {
  color: #666666;
}

.md-content span.modal-close:hover,
.md-content span.modal-close:focus {
  color: #222222;
}

@media only screen and (min-width: 768px) {
  .md-content code {
    line-height: 2rem;
  }
  .md-content p, .md-content ul, .md-content ol {
    line-height: 2rem;
  }
  .md-content a {
    line-height: 2rem;
  }
}
.blog-content {
  min-width: fit-content;
}

.app-container {
  margin: unset;
}

.dir-layout {
  display: flex;
  justify-content: space-between;
}

.dir {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  max-height: 80vh;
  top: 16%;
  left: 1em;
  margin: 0 auto;
  align-self: flex-start;
  /* 设置滚动条的样式 */
  /* 滚动槽 */
  /* 滚动条滑块 */
}
.dir ::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
.dir ::-webkit-scrollbar-track {
  background: var(--divider);
  opacity: 0.2;
  border-radius: 8px;
}
.dir ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c7c7c7;
}
.dir .dir-cta {
  border-width: 2px;
  box-shadow: 0 0 0 0.125em var(--border-color);
  padding: 1rem 0;
  border-radius: 0.5em;
  display: inline-block;
  overflow: auto;
  height: inherit;
  max-height: inherit;
}
.dir .dir-cta ul {
  list-style-type: none;
}
.dir .dir-cta ul a {
  text-decoration: none;
  display: inline-block;
  margin: 0 0.8rem;
  padding: 0.6em 1rem;
  font-size: 14px;
  border-radius: 16px;
  color: var(--text-primary);
}
.dir .dir-cta ul a:hover {
  background-color: var(--toolbar-highlight);
}

.placeholder {
  visibility: hidden;
}

.back-posts-list {
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  color: var(--accent);
  align-self: flex-start;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
  text-decoration: none;
  width: 100vh;
}
.back-posts-list:hover {
  cursor: pointer;
  color: var(--accent);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

@media screen and (max-width: 1250px) {
  .dir-layout {
    display: unset;
  }
  .dir {
    display: none;
  }
  .blog-content {
    min-width: unset;
  }
  .back-posts-list {
    width: unset;
  }
}

/*# sourceMappingURL=md-page.css.map */
