@import "markdown";

//Mobile First
@charset "utf-8";
$skill-primary:#3DDC84 !default;
$skill-primary-dark:#23A65D !default;
$card-shadow: 0 0.5em 1em -0.125em rgba(#000000, 0.2), 0 0px 0 1px rgba(#000000, 0.02) !default;


.blog-content {
  min-width: fit-content;
}

.app-container {
  margin: unset;
}

.dir-layout {
  display: flex;
  justify-content: space-between;
}

.dir {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  max-height: 80vh;
  top: 16%;
  left: 1em;
  margin: 0 auto;
  align-self: flex-start;

  /* 设置滚动条的样式 */
  ::-webkit-scrollbar {
    width: 6px;
    height: 4px;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    background: var(--divider);
    opacity:0.2;
    border-radius: 8px;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c7c7c7;;
  }

  .dir-cta {
    border-width: 2px;
    box-shadow: 0 0 0 0.125em var(--border-color);
    padding: 1em 1em;
    border-radius: 0.5em;
    display: inline-block;
    overflow: auto;
    height: inherit;
    max-height: inherit;

    ul {
      list-style-type: none;

      a {
        text-decoration: none;
        display: block;
        padding: 0.4em;
        color: var(--text-primary);
      }
    }
  }
}

.placeholder {
  visibility: hidden;
}

.back-posts-list {
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  color: var(--accent);
  align-self: flex-start;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
  text-decoration: none;
  width: 100vh;

  &:hover {
    cursor: pointer;
    color: var(--accent);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }
}

@media screen and (max-width: 1250px) {

  .dir-layout {
    display: unset;
  }
  .dir {
    display: none;
  }
  .blog-content {
    min-width: unset;
  }
  .back-posts-list {
    width: unset;
  }
}

