//Mobile First
@charset "utf-8";
$skill-primary:#3DDC84 !default;
$skill-primary-dark:#23A65D !default;
$card-shadow: 0 0.5em 1em -0.125em rgba(#000000, 0.2), 0 0px 0 1px rgba(#000000, 0.02) !default;

// 全局样式
:root {
  --toolbar-highlight: rgba(45,82,171,.08);
  --md-sys-color-primary: #6c4ea2;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #ecdcff;
  --md-sys-color-on-primary-container: #250059;
  --md-sys-color-secondary: #635b70;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #eadef8;
  --md-sys-color-on-secondary-container: #1f182b;
  --md-sys-color-tertiary: #7e525d;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffd9e2;
  --md-sys-color-on-tertiary-container: #32101b;
  --md-sys-color-error: #ba1b1b;
  --md-sys-color-error-container: #ffdad4;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-on-error-container: #410001;
  --md-sys-color-background: #fffbfc;
  --md-sys-color-on-background: #1d1b1f;
  --md-sys-color-surface: #fffbfc;
  --md-sys-color-on-surface: #1d1b1f;
  --md-sys-color-surface-variant: #e7e0eb;
  --md-sys-color-on-surface-variant: #49454e;
  --md-sys-color-outline: #7a757e;
  --md-sys-color-inverse-on-surface: #f5eff4;
}

body {
  background: white;
  margin: 0;
  font: 400 14px/20px Roboto,Helvetica Neue,sans-serif;
  box-sizing: inherit;
}

header {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
  letter-spacing: normal;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 1em 2em;
}

.divider {
  margin: 2em 0 1em 0;
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  box-sizing: inherit;
  border-top-color: rgba(0,0,0,.12);
  letter-spacing: normal;
}

.mat-h2 {
  letter-spacing: normal;
  margin: 0 0 4px;
}

.home-h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.navbar {
  background-color: var(--md-sys-color-inverse-on-surface);
  padding: 1em;
  box-shadow: 0 0.5em 1em -0.125em rgb(0 0 0 / 16%);
  color: var(--md-sys-color-on-surface-variant);

  img.logo {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }

  a.navbar-title {
    text-align: center;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: .5em;

    span {
      font-size: 1em;
      padding: 0 0.8em;
      color: var(--text-secondary);
    }
  }
}

.features {

  .app-container {
    display: flex;
    justify-content: space-between;
  }

  img.info-logo {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    -webkit-filter: drop-shadow(0 1px 2px rgba(var(--shadow-color), 0.04));
    filter: drop-shadow(0 1px 2px rgba(var(--shadow-color), 0.04));
  }

  .hello {
    font-size: 2rem;
    font-weight: normal;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-shadow: var(--text-shadow-size) var(--text-shadow-size) 0 var(--text-shadow-color);
    --text-shadow-color: var(--text-shadow-yellow);
    line-height: normal;
  }

  .text {
    font-size: 1.2em;
    letter-spacing: 1px;
    box-sizing: inherit;
    -webkit-margin-before: 1em;
    margin-block-end: 1em;
  }

  .about_wave__2bBrx{
    -webkit-animation-name:about_wave-animation__2OiPD;
    animation-name:about_wave-animation__2OiPD;
    -webkit-animation-duration:2.5s;
    animation-duration:2.5s;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    transform-origin:70% 70%;
    display:inline-block
  }
  @-webkit-keyframes about_wave-animation__2OiPD{
    0%{transform:rotate(0deg)}
    10%{transform:rotate(-10deg)}
    20%{transform:rotate(12deg)}
    30%{transform:rotate(-10deg)}
    40%{transform:rotate(9deg)}
    50%{transform:rotate(0deg)}to{transform:rotate(0deg)}
  }
  @keyframes about_wave-animation__2OiPD{
    0%{transform:rotate(0deg);}
    10%{transform:rotate(-10deg);}
    20%{transform:rotate(12deg);}
    30%{transform:rotate(-10deg);}
    40%{transform:rotate(9deg);}
    50%{transform:rotate(0deg);}
    to{transform:rotate(0deg);}
  }
}

.still-developing {

  .developing-card-cta {
    border-radius: 1em;
    color: white;
    background-color: #f06292;
    padding: 2em 2em;

    #preview {
      display: flex;
      align-items: flex-end;
      gap: 1em;
    }
  }
}

.skills {

  .skills-cta {
    background-color: #fff;
    border-width: 2px;
    box-shadow: 0 0 0 0.125em #e1e2e4;
    padding: 2em;
    margin-bottom: 1.6em;
    border-radius: 0.5em;
    position: relative;
    display: inline-block;
    justify-content: flex-start;

    .icon {
      height: 1.5em;
      width: 1.5em;
      margin-right: 0.25em;
      img {
        height: 100%;
        width: 100%;
      }
    }

    #buttons {
      background-color: white;
      border-width: 2px;
      box-shadow: 0 0 0 0.125em #E1E2E4;
      padding: 2em;
      margin-bottom: 1.6em;
      border-radius: 0.5em;
    }

    .button {
      padding: calc(0.5em - 1px) calc(0.75em - 1px);
    }

    .button {
      background-color: rgb(61, 220, 132);
      margin-right: 0.5rem;
      transition: all .6s cubic-bezier(.165,.84,.44,1);
      margin-bottom: 0.5rem;
      color: #363636;
      cursor: pointer;
      border: 1px solid transparent;
      font-size: 1rem;
      line-height: 1.5;
      display: inline-flex;
      align-items: center;
    }

    .button.is-rounded {
      border-radius: 290486px;
      padding-left: calc(1em + 0.25em);
      padding-right: calc(1em + 0.25em);
    }

    .skill {
      border-color: transparent;
      border-width: 1.2px;
      box-shadow: 0 0 0 0.125em transparent;
      &:hover,
      &.is-hovered{
        box-shadow: $card-shadow
      }
      position: relative;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .skill::after {
      content: ""; // 不知道为什么删掉这个就没阴影了
      z-index: -1;
      top: 0;
      left: 0;
      //width: 100%;
      //height: 100%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      opacity: 0;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .skill:hover::after {
      opacity: 1;
    }
  }

  .skills-bar-cta {
    background-color: #3DDC84;
    padding: 1em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    /* 当属性改变时，浏览器会自动做动画 */
    transition-property: background-color;
    transition-duration: 0.5s;

    #out-progress {
      width: 70%;
      border-radius: 8px;
      background: linear-gradient(to right, #FFFFFF 70%, rgba(#FFFFFF, 0.4), rgba(#FFFFFF, 0.00));
      height: 16px;
      margin-left: 1em;
      margin-right: 1em;
    }
    #in-progress {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background: rgba(#3DDC84, 0.6);
      //animation:progress 2s 1s ease-in-out infinite alternate;
    }

    @keyframes progress {
      0% {
        width: 2%;
      }
      100% {
        width: 100%;
      }
    }

    #skill-logo {
      margin-left: 1em;
      margin-right: 6px;
      padding-bottom: 2px;
      width: 34px;
      height: 34px;
    }

    .text {
      margin-right: 1.6em;
      font-size: 16px;
      font-weight: 500;
      letter-spacing:1px;
      line-height:26px;
      color: #3A414E;
    }
  }
}

.projects {

  .project-icon {
    align-self: center;
    width: 64px;
    height: 64px;
  }

  .text-layout {
    align-self: center;
    margin-left: 1.1em;
    padding-right: 0.6em;
  }


  .column {
    padding: 0;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
    //font-weight: 400;
  }

  .item {
    position: relative;
    background-color: white;
    border-radius: 0.5em;
    padding: 1em 1.2em;
    display: flex;
    margin: 1.2em 0.6em;
    box-shadow: 0 0 0 0.1em #E1E2E4;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .item::after {
    content: ""; // 不知道为什么删掉这个就没阴影了
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .item:hover {
    box-shadow: 0 0 0 0 #E1E2E4;
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1, 1);
  }

  .item:hover::after {
    opacity: 1;
  }

  .list-item .list {
    color: #333;
  }

}

// 屏幕适配

.app-container, .navbar {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto; }
.app-container.is-fluid, .navbar {
  max-width: none;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%; }
@media screen and (min-width: 820px) {
  .app-container, .navbar {
    max-width: 756px; } }
@media screen and (max-width: 959px) {
  .app-container.is-widescreen, .navbar {
    max-width: 810px; } }
@media screen and (max-width: 1023px) {
  .app-container.is-fullhd, .navbar {
    max-width: 810px; } }
@media screen and (min-width: 960px) {
  .app-container, .navbar {
    max-width: 810px; } }
@media screen and (min-width: 1024px) {
  .app-container, .navbar {
    max-width: 810px; } }


@media only screen and (min-width: 768px) {

  .mobile-menu, .mobile-menu-exit {
    display: none;
  }

  .navbar {
    box-sizing: border-box;
    margin: 2em auto;
    padding: 1em 1em;
    border-radius: .6em;

    nav {
      display: grid;
      grid-template-rows: minmax(0, 1fr);
      grid-template-columns: auto 1fr auto;
      grid-auto-rows: min-content;
      grid-auto-flow: row dense;
      background: none;
      position: unset;
      height: auto;
      width: auto;
      padding: 0;

      ul.navbar-title {
        gap: 0.6rem;
        justify-content: flex-start;
      }

      ul.theme-mode {
        gap: 0;
        grid-column-start: 3;
        grid-column-end: 4;
        justify-content: flex-end;
        display: inline-flex;
        align-items: center;
        border-radius: 8px;

        li {
          display: inline-block;
          margin: 0;
          padding: 0;
          max-height: 42px;
          max-width: 42px;
        }

        .css-a9tx65{
          border: none;
          background: none;
          min-height: 42px;
          min-width: 42px;
        }
        &:hover {
          font-weight: bold;
          background-color: var(--toolbar-highlight);
        }
      }

      ul.tabs {
        grid-column-start: 2;
        grid-column-end: 3;
        gap: 0.5rem;
        justify-content: flex-end;
        display: flex;

        li {
          display: inline-block;

          a {
            color: var(--text-secondary);
            font-size: 1rem;
            padding: 0.7em 1em;
            margin: 0 .2em;
            text-decoration: none;
            transition: all 0.25s ease-in-out;
            pointer-events: auto;
            border-radius: 8px;
            border: none;
            box-sizing: border-box;
            display: inline-flex;

            &:hover {
              font-weight: bold;
              background-color: var(--toolbar-highlight);
            }
          }
        }
      }

      // 选中的 tab
      .tabs li.current a {
        background-color: var(--toolbar-highlight);
      }
    }
  }
}
@media only screen and (min-width: 1080px) {

  section {
    padding: 1em 4em;
  }
}


$logo-color: #3abb67 !default;
$card-shadow: 0 0.5em 1em -0.125em rgba($logo-color, 0.4), 0 0px 0 1px rgba($logo-color, 0.02) !default;

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  #icon {
    margin-right: 1rem;
  }

  .flex-horizontal {
    display: flex;
    align-items: center;
  }

  .social-logo-layout {
    background-color: #eeeeee;
    width: 40px;
    height: 40px;
    margin-right: 1em;
    border-radius: 20px;
    box-shadow: 0 0 0 0.125em #E1E2E4;
    &:hover,
    &.is-hovered{
      background-color: $logo-color;
      -webkit-transform: scale(1.25, 1.25);
      transform: scale(1.2, 1.2);
      box-shadow: $card-shadow
    }
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .social-logo-layout::after {
    content: ""; // 不知道为什么删掉这个就没阴影了
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba($logo-color, 0.4);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .social-logo-layout:hover::after {
    opacity: 1;
  }

  .social-logo {
    width: 40px;
    height: 40px;
    padding: 8px;
  }

  .has-text-centered {
    margin-top: 2em;
  }
}