@charset "utf-8";
/* You can add global styles to this file, and also import other style files */

$navbar-background-color: rgba(#FFFFFF, 0.90);
$navbar-item-img-max-height: 3rem;

$tabs-border-bottom-width: 2px;
$tabs-border-bottom-color: rgba(#FFFFFF, 0.00);
$tabs-link-hover-border-bottom-color: #DBDBDB;
$tabs-link-padding: 0.7em 2em;

$desktop: 820px;
$widescreen: 960px;
$fullhd: 1024px;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  url(../../assets/fonts/material_fonts/MaterialIconsOutlined-Regular.otf);
}

body{
  margin: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*, :after, :before {
  box-sizing: inherit;
}

:root {
  color-scheme: light dark;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  background: rgba(66, 185, 131, 0.2);
  opacity:0.2;
  border-radius: 8px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--primary-color);
}

/* 亮色模式 */
.light, .light-mode, :root {
  --primary-color: #42B983;
  --toolbar-highlight: rgba(45,82,171,.08);
  --background-color: #fefbfd;
  --surface-color: #ede9f1;
  --divider: #e3e3e3;
  --base-font-size: 1rem;
  --font-md: calc(var(--base-font-size)*1.5);
  --accent: #3867d6;
  --reverse-text-primary: #fff;
  --text-primary: #1f1f1f;
  --text-secondary: #424242;
  --border-color: #e1e2e4;
  --light-color: #eeeeee;
  --item-color: #fff;
  --code-background: #f5f5f5;

  path {
    fill: black;
    fill-opacity: 1;
  }

  #light-mode {
    display: none;
  }
  #dark-mode {
    display: unset;
  }
}

/* 暗色模式 */
.dark, .dark-mode {
  --primary-color: #42B983;
  --toolbar-highlight: rgba(45,82,171,.08);
  --background-color: #191a23;
  --surface-color: #22232e;
  --divider: #606164;
  --base-font-size: 1rem;
  --font-md: calc(var(--base-font-size)*1.5);
  --accent: #6085de;
  --reverse-text-primary: #212121;
  --text-primary: #e1e1e1;
  --text-secondary: #9a9a9a;
  --border-color: #606164;
  --light-color: #22232e;
  --item-color: #22232e;
  --code-background: #22232e;

  path {
    fill: white;
    fill-opacity: 0.8;
  }

  #dark-mode {
    display: none;

  }
  #light-mode {
    display: unset;
  }
}
