@import "markdown";

//Mobile First
@charset "utf-8";
$skill-primary:#3DDC84 !default;
$skill-primary-dark:#23A65D !default;
$card-shadow: 0 0.5em 1em -0.125em rgba(#000000, 0.2), 0 0px 0 1px rgba(#000000, 0.02) !default;