.hljs {
  color: #37474f;
  background: #f8f9fa;
}

.md-content pre code {
  color: #37474f;
  background: #f8f9fa;
}

.hljs-number,
.hljs-literal,
.hljs-symbol,
.hljs-bullet {
  color: #c5221f;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-deletion {
  color: #1967d2;
}

.hljs-variable,
.hljs-template-variable,
.hljs-link {
  color: #629755;
}

.hljs-comment,
.hljs-quote {
  color: #b80672;
}

.hljs-meta {
  color: #c5221f;
}

.hljs-string,
.hljs-attribute,
.hljs-addition {
  color: #188038;
}

.hljs-section,
.hljs-title,
.hljs-type {
  color: #9334e6;
}

.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #e8bf6a;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}